
:root{
    --header-height: 3rem;
    --button-size: 2rem;

    --clr-back: white;
    --clr-accent: mediumblue;

    --border-width: 1px;
    --border: var(--border-width) solid black;
}

body{
    line-height: 1.25;
}

/*  LAYOUT DIVISIONS
    ============================================================     */

#interface-header{
    background-color: var(--clr-back);
    border-bottom: var(--border);
    
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    
    height: var(--header-height);
}
#interface-content{
    display: grid;
    grid-template-columns: 1fr auto;
    min-height: calc(100vh - var(--header-height));
}
#interface-content > *{
    height: 100%;
}
#interface-content > *:not(:first-child){
    border-left: var(--border);
}

iframe{
    width: 100%;
    height: 100%;
}

details{
    position: relative;
    width: 50vw;
}
details:not([open]){
    width: 0;
}
details main{
    height: 100%;

    display: flex;
    flex-direction: column;
}
details main > *{
    flex-grow: 1;
    min-height: 0;
    height: auto;
}

.flex-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}
hr{
    border: none;
    margin-left: auto;
}

/*  TYPOGRAPHY
    ============================================================     */

a{
    color: var(--clr-accent);
}

/*  INDEX OVERVIEW
    ============================================================     */

#interface-index{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    padding: 1rem;
    background-color: gainsboro;
}
#interface-index > div{
    background: white;
    outline: var(--border);
    outline-offset: calc(var(--border-width) * 0);

    display: grid;
    grid-template-rows: 320px auto;
}
#interface-index > div > footer{
    border-top: var(--border);
    background-color: var(--clr-back);
    width: 100%;
    box-sizing: border-box;
    padding: 0.75em 0.5em;
    font-size: 0.825em;
}
#interface-index > div > footer > a{
    padding: 0.25em 0.5em;
    display: block;
}
td{
    padding: 0.25em 0.5em;
}
td:first-of-type{
    color: grey;
}

/*  UI ELEMENTS
    ============================================================     */

button, 
details summary{
    background-color: var(--clr-back);
    border: var(--border);
    height: var(--button-size);
    width: var(--button-size);
    box-sizing: border-box;
    cursor: pointer;

    border-radius: 5em;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.17rem;
    font-family: monospace;
}


details summary{
    margin: 0.5rem 1rem;
    position: absolute;
    right: 100%;
}
details summary::-webkit-details-marker {
    display:none;
}
::marker{ display:none; } 
summary{ list-style: none }

details summary::after{
    content: '→';
}
details:not([open]) summary::after{
    content: '←';
}

#gen-button{
    width: var(--button-size);
    padding: 0;
    text-align: center;
}

#print-button{
    width: auto;
    text-align: center; 
    padding: 0 1em;
}

.letter-button{
    font-family: initial;
    font-size: 1rem;
}


/* --- dialog --- */

dialog{
    border: 1px solid black;
}
dialog ul{
    list-style: circle;
    padding-left: 1.5rem;
    margin: 1em 0;
}
dialog button{
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
code{
    font-family: monospace;
    background-color: gainsboro;
    font-size: 0.825rem;
}



