{% extends "base.html" %}

{% block body %}

    <header id="interface-header" class="flex-line">
        <h1>{{title}}</h1>

        <hr>

        <a href="{{pad_global}}">global styles</a>

        <button id="about-button" class="letter-button">?</button>
    </header>

    <dialog>
        <button id="close-button">&times;</button>
        <p>a guestbook where every collaborators, either as individuals or as a one of time micro research group, can sign.</p>
        <p>we sign with style (not with content).</p>
        <p>the limitation of the 12 <code>&lt;span&gt;</code> become a playground of expression.</p>
        <ul>
            <li>you can remix someone else guestbook entries by copy-pasting part of it (encouraged)</li>
            <li>you can write specific of alternating selectors such as <code>span:nth-of-type(5)</code> or <code>span:nth-of-type(odd)</code></li>
            <li>you can add (and remove) text through CSS thanks to <code>:after</code> and <code>:before</code></li>
            <li>it's not only span there is a <code>&lt;html&gt;</code>, <code>&lt;body&gt;</code>, <code>&lt;h1&gt;</code>, even <code>&lt;style&gt;</code> and <code>&lt;script&gt;</code></li>
            <li>the <code>&lt;span&gt;</code> can become something else than letters, a whole drawing?</li>
            <li>layout of <code>grid</code>, <code>flex</code> are possible on the <code>h1</code> to simulate complex book or website layout</li>
            <li>media queries can transform it in different situations (on the index and in big?)</li>
            <li>it can be printed and print styles can be specified with <code>@media print</code></li>
            <li>custom variable <code>--name</code> can be used to tweak the sketches</li>
            <li>interaction are possible with <code>:hover</code>, <code>:focus<code>, <code>@keyframe</code></li>
            <li>documentation can be written in the pad under <code>/* comments */</code>, including hyperlinks as references</li>
        </ul>
    </dialog>

    <main id="interface-index">
        {% for p in pads %}
        <div>
            <iframe src="/{{p[0]}}--get" frameborder="0" data-pad="{{p[1]}}/export/txt"></iframe>
            <footer>
                <a href="/{{p[0]}}">{{p[0]}}</a>
                <table>
                    <tr><td>author</td><td class="author"></td></tr>
                    <tr><td>description</td><td class="description"></td></tr>
                    <tr><td>date</td><td class="date"></td></tr>
                </table>
            </footer>
        </div>
        {% endfor %}
    </main>

    <script type="text/javascript">

        $("iframe").each( function(){
            $.get($(this).attr("data-pad"), function( data ) {
                const reg_meta = /\/\*[ \t]*==Meta==([\S\s]*)==\/Meta==[ \t]*\*\//m;
                let meta = data.match(reg_meta);
                if (meta){
                    //first capturing group
                    let inside = meta[1];
                    console.log(inside);

                    const at_meta = /^@(\S+)[ \t]*(.+)/gm;
                    let values = inside.matchAll(at_meta);
                    if (values){

                        let $frame = $('iframe[data-pad="'+this.url+'"]').first().parent();

                        for(let v of values){
                            let key = v[1];
                            let value = v[2];
                            let d = $frame.find("footer ."+key).first();
                            d.html(value);
                        }
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        const modal = document.querySelector("dialog");
        const open_btn = document.querySelector("#about-button");
        const close_btn = document.querySelector("#close-button");
  
        open_btn.addEventListener('click', () => {
          modal.showModal();
        });
        close_btn.addEventListener('click', () => {
          modal.close();
        });
      </script>

{% endblock %}

