{% extends "base.html" %}

{% block title %}{{super()}} - {{id}}{% endblock%}

{% block body %}

    <header id="interface-header" class="flex-line">
        <h1>{{title}}:</h1>

        <a href="/">index</a>

        <span>></span>
        
        <h2>{{id}}</h2>
        
        <hr>

        <button id="gen-button" onclick="document.getElementById('html__frame').contentWindow.location.reload()">↺</button>
        <button id="print-button" class="letter-button" href="#">print</button>
    </header>
    
    <div id="interface-content">
        <iframe id="html__frame" name="html__frame" src="/{{id}}--get"></iframe>
        <details class="ehterpad" open="">
            <summary></summary>
            <main>
                <iframe id="ehterpad__frame" src="{{pad}}"></iframe>
            </main>
        </details>
    </div>

    <script>
        let btn = document.getElementById('print-button');
        btn.addEventListener("click", (event) => {
            let frame = document.getElementById('html__frame');
            frame.contentWindow.print();
        })
    </script>
    
{% endblock %}