{% extends "base.html" %}

{% block title %}{{super()}} - {{id}}{% endblock%}

{% block head %}
    <!--
        ETHERCSS
        By using `export/txt` we can export the content of a pad as a css stylesheet.
        The second - more specific pad - is automatically created according to the page id.
        See at the bottom of the page the used script to load them inside of the style tags.
    -->
    <!-- <meta http-equiv="refresh" content="60" /> -->
    <style class="ether-styles" data-pad="{{pad_global}}/export/txt"></style>
{% endblock %}
    
{% block body %}
    
    <style class="ether-styles" data-pad="{{pad}}/export/txt"></style>

    {% set text = 'Declarations' %}

    <h1>
        {% for char in text %}<span tabindex=0>{{char}}</span>{% endfor %}
    </h1>
    
    <!-- 
    SCRIPT is necessary as some browser (?) don't accept the `/export/txt` trick,
    so we load them into <style> tags through ajax 
    -->
    <script>
const pad_loaded = new Event("pad-loaded");

// load content from the data-pad attr from .ether-styles tag
$(".ether-styles").each( function(){
    $(this).load($(this).attr("data-pad"), function(){
        // dispatch an event when pad styling has been fully loaded
        window.dispatchEvent(pad_loaded);
    });
});
    </script>
    
{% endblock %}